FileCabinet/SuiteScripts/HUL_DEV/ADMIN_DEV/Documentation/N8N_References/Vendor_Credit_Project/Vendor Credit - Review Processing.json
{
  "name": "Vendor Credit - Review Processing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e79d606b-6d6d-4528-91b5-06a58a5d6201",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "4ebb509f-5bee-468e-bf6b-fd6d3b730b2a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nZAK82JBVd1aWDCFrGlE9lZHbsv9eTcb71y4SH8Jzjw",
          "mode": "list",
          "cachedResultName": "Vendor Credit - Vendor Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZAK82JBVd1aWDCFrGlE9lZHbsv9eTcb71y4SH8Jzjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110772334,
          "mode": "list",
          "cachedResultName": "ReviewQueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZAK82JBVd1aWDCFrGlE9lZHbsv9eTcb71y4SH8Jzjw/edit#gid=110772334"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:Z"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "091c86b7-972c-40f0-9ab6-36f1e8ac4e20",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8eGYCLbG2NqHX3GA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fcd6a78a-423d-4b10-8549-f35e41d33f8d",
              "leftValue": "={{$json[\"FinalAction\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        80
      ],
      "id": "e0dd0fcf-de14-422e-8d6c-87a117182063",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://laezkwglnixpwcselgzm.supabase.co/rest/v1/rpc/process_review_feedback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_process_id\": \"{{$json[\"ProcessID\"]}}\",\n  \"p_review_action\": \"{{$json[\"FinalAction\"]}}\",\n  \"p_reviewed_by\": \"{{$json[\"ReviewedBy\"] || 'manual_review'}}\",\n  \"p_corrections\": {\n    \"vendor_name\": \"{{$json[\"CorrectedVendor\"] || $json[\"Vendor\"]}}\",\n    \"total\": {{$json[\"CorrectedTotal\"] || 'null'}},\n    \"sign_rule\": \"{{$json[\"CorrectedSignRule\"] || ''}}\",\n    \"notes\": \"{{$json[\"Notes\"] || ''}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        128
      ],
      "id": "5d6b6681-8460-4df5-a07d-47f2730a79df",
      "name": "Apply Review Feedback",
      "credentials": {
        "supabaseApi": {
          "id": "SQ2mUi6UxYafHKBT",
          "name": "Supabase -Vendor Credit"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Apply Review Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Review Feedback": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b2abf2e-c27c-4ea0-b37c-d5fe0b997422",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cacdb952391d4a3d881d455321360290f81a1be3d919b0ecc113832df6d6119d"
  },
  "id": "D54Fqnh3MD31LRYV",
  "tags": []
}